.inner-circle {
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
}

.outer-circle {
  border-radius: 50%;
  border: 5px solid red;
  height: 260px;
  width: 260px;
  position: absolute;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* body {
  background-color: red;
} */