/* .inner-circle {
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
}

.border-circle {
  border-radius: 50%;
  border: 5px solid red;
  height: auto;
  max-width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
} */

/* body {
  background-color: red;
} */

.main-header {
  height: 100vh;
}