.fa-facebook {
  color: #bdbdbd;
}

.fa-linkedin {
  color: #bdbdbd;
}

.fa-github {
  color: #bdbdbd;
}

.fa-facebook:hover {
  color: #072361;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-github:hover {
  color: black;
}

.html-tag {
  color: #36454f;
}

.html-tag-text {
  color: #1565c0;
}

.inner-circle {
  border: 6px solid #bdbdbd;
}

.main-header {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.outer-circle {
  max-height: 245px;
  max-width: 245px;
  border-radius: 50%;
  border: 7px solid transparent;
}

.outer-circle:hover {
  max-height: 245px;
  max-width: 245px;
  border-radius: 50%;
  border: 7px solid #536878;
}

.side-nav {
  background-color: #536878;
}

.valign-wrapper {
  min-height: 100px;
}

body {
  background-color: #536878;
}